<div class="container-fluid">
  <div class="row">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#201818">
      <div class="container">
        <a class="navbar-brand" href="#"><img style=" height: 50px;  width: 150px;" src="../../assets/image/logo.png"
            alt="Image text"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="#"><button type="button" class="btn btn-primary btn-sm btn_background">Home</button></a></li>
            <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="#"><button type="button" class="btn btn-primary btn-sm btn_background">About Us</button></a></li>
            <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="#">
                <div class="dropdown">
                  <button class="btn btn-primary btn-sm btn_background dropdown-toggle" type="button" data-toggle="dropdown">Our Service
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-content">
                    <li><a href="#" style="padding:5px;">Service 1</a></li>
                    <li><a href="#" style="padding:5px;" >Service 2</a></li>
                    <li><a href="#" style="padding:5px;">Service 3</a></li>
                    <li><a href="#" style="padding:5px;">Service 4</a></li>
                  </ul>
                </div>
              </a></li>
            <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="#"><button type="button" class="btn btn-primary btn-sm btn_background">Available Space</button></a></li>
            <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="#"><button type="button" class="btn btn-primary btn-sm btn_background">Contact</button></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[3]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[4]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="row" style="padding:10px">

  </div>
  <div class="row">
    <app-first></app-first>
  </div>
</div>