<div class="row container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card container-fluid">
        <h5 style="text-align: center;
      color: #2784af;
      font-family: Droid Sans;
      font-weight: 400;
      font-style: normal;"><strong>
            <font size="6">Welcome to Williams Associate (Pvt) Ltd</font>
          </strong></h5>
        <div class="card-body ">
          <p class="card-text">Welcome to Williams Associate (Pvt) Ltd. Williams Associate (Pvt) Ltd is a well
            established Leading outdoor advertising firm in Sri Lanka which creates a strategic advertising campaign
            for our respective customers and we are specialized for Hoarding, Bill Boards, Dealer Boards, Vehicle
            Branding, street Name Boards, and other specialty advertising. Today Williams Associate (Pvt) Ltd is one of
            the leading outdoor Advertising Company in Sri Lanka committed to provide total Outdoor Advertising
            solutions to our esteemed Customers.</p>
          <a><strong>Williams for Effective , Reliable, Fastest & Trustworthy Advertising Service
            </strong></a>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    
<div class="col-md-6 ">
    <div class="card container-fluid">
    
      <div class="row">
        <div class="col-md-3">
          <img src="../../assets/image/1.png" alt="Paris" width="120" height="120">
        </div>
        <div class="col-md-3">
          <img src="../../assets/image/2.png" alt="Paris" width="120" height="120">
        </div>
        <div class="col-md-3">
          <img src="../../assets/image/3.png" alt="Paris" width="120" height="120">
        </div>
        <div class="col-md-3">
          <img src="../../assets/image/4.png" alt="Paris" width="120" height="120">
        </div>
      </div>
      <div class="row" style="padding: up 6;">

      </div>
      <div class="row " style="  padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;">
        
      </div>
      <div class="row">
        <img src="../../assets/image/2.png" class="center" alt="Paris" width="300" height="120">
      </div>
    </div>
  </div>

  </div>
</div>
